@model List<Model.Models.User>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body class="users">
    <div class="container-fluid fill">
        <div class="container">
            <div class="mypage">
                <div class="jumbotron mypage-section">
                    <h1 class="mypage-header">Alle brukere</h1>
                    <p>Se og endre alle brukere som ligger i databasen</p>
                </div>
                <div class="col-sm-12 mypage-section">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="col-xs-2">
                            <a href="/Admin/AdminPanel" class="admin-nav-link"><i class="fas fa-chart-pie" style="font-size: 40px"></i><br />Statistikk</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="/Admin/EditUsers" class="admin-nav-link"><i class="fas fa-users" style="font-size: 40px"></i><br />Brukere</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="/Admin/EditMovies" class="admin-nav-link"><i class="fas fa-film" style="font-size: 40px"></i><br />Filmer</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="/Admin/EditOrders" class="admin-nav-link"><i class="fas fa-file-invoice" style="font-size: 40px"></i><br />Vis alle ordre</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="/Admin/UserOrders" class="admin-nav-link"><i class="fas fa-receipt" style="font-size: 40px"></i><br />Ordre på bruker</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="/Home/Index" class="admin-nav-link"><i class="fab fa-earlybirds" style="font-size: 40px; color: rgba(230,0,6,.7)"></i><br />Gå til Lunaflick</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="container-fluid mypage-section" style="padding-top: 0">
                        <div class="col-xs-8 col-xs-offset-2 customer-table">
                            <table class="table">
                                <thead>
                                    <tr style="font-size: 16px">
                                        <th scope="col">Bruker ID</th>
                                        <th scope="col">Epost</th>
                                        <th scope="col">Status</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.UserId</th>
                                        <td style="text-align: left">@item.Email</td>
                                        <td style="text-align: left">
                                            @if (item.AccountStatus == 1)
                                            {
											<p style="color:green">Aktiv&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</p>
                                            }
                                            else
                                            {
                                                <p style="color:red">Deaktivert</p>
                                            }
                                        <td style="text-align: right">

                                            <button onclick="location.href='@Url.Action("DetailedEditUsers", "Admin", new { user = item.Email })'" type="button" class="btn btn-xs btn-primary">Rediger</button>
                                            <button onclick="location.href='@Url.Action("SetUserStatus", "Admin", new { email = item.Email })'"          type="button" class="btn btn-xs btn-danger deleteUser">Endre status</button>
                                        </td>
                                    </tr>
                                }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/admin_scripts.js"></script>
</body>

